body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #08080b;
  color: white;
  text-align: center;
  padding: 30px;
}

section {
  padding: 20px;
  background: white;
  margin: 15px;
  border-radius: 8px;
}

h2 {
  color: #020309;
}

button {
  padding: 10px 15px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

footer {
  text-align: center;
  padding: 10px;
  background: #131216;
  color: white;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f1f3f6;
  color: #333;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 30px auto;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* SIDEBAR */
.sidebar {
  width: 300px;
  background: #0f172a;
  color: white;
  padding: 30px;
  text-align: center;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #38bdf8;
  margin-bottom: 15px;
}

.sidebar h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

.role {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 20px;
}

.info {
  text-align: left;
  margin-top: 25px;
}

.info h3 {
  font-size: 16px;
  border-bottom: 1px solid #334155;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.skills li {
  list-style: none;
  padding: 5px 0;
  font-size: 14px;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
}

.content section {
  margin-bottom: 30px;
}

.content h2 {
  font-size: 20px;
  color: #0f172a;
  margin-bottom: 10px;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.project-card {
  background: #f8fafc;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
  border-left: 4px solid #38bdf8;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #666;
}
