body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #08080b;
  color: white;
  text-align: center;
  padding: 30px;
}

section {
  padding: 20px;
  background: white;
  margin: 15px;
  border-radius: 8px;
}

h2 {
  color: #020309;
}

button {
  padding: 10px 15px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

footer {
  text-align: center;
  padding: 10px;
  background: #131216;
  color: white;
}
